main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    overflow-x: hidden;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 30px;
}

.adventure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 30px;
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}

.story h1{
    font-family: "Karantina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #c23ca1;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
    letter-spacing: 6px;
}

.story hr{
    width: 40%;
    border: 2px solid #BE4A9D;
}

.story h3{
    font-family: "Karantina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #252B48;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding: 2px 80px;
    background-color: #6f82e1e7;
}

.info{
    background-color: rgba(221, 57, 142, 0.837);
    width: 70%;
    display: flex;
    text-align: center;
    padding: 15px;
    border: 3px solid #DB4592;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info p{
    display: flex;
    align-items: center;
    font-family: "Karantina", serif;
    font-weight: 400;
    font-style: normal;
    color: #fedbf0;
    font-size: 30px;
    letter-spacing: 2px;
}

.team{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.team .member{
    background-color: rgba(219, 69, 146, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #DB4592;
    border-radius: 6px;
    padding: 40px;
    margin-bottom: 20px;
}

.member img {
    width: 180px;
    box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.25);
}

.role {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.role h3 {
    background-color: rgba(219, 69, 146, 0.6);
    border: 3px solid #DB4592;
    border-radius: 6px;
    font-family: "Karantina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.role h3:nth-last-child(2) {
    padding: 10px 82px;
}

.role h3:nth-last-child(1) {
    padding: 10px 87px;
}

.backstage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(219, 69, 146, 0.6);
    width: 80%;
    border: 3px solid #DB4592;
    border-radius: 10px;
    /* padding: 70px 0 60px 0; */
}

.backstage h3{
    font-family: "Karantina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: white;
    letter-spacing: 3px;
    margin: 25px 0 32px 0;
    background-color: rgba(242, 166, 219, 0.6);
    padding: 6px 20px;
    border: 3px solid #F2A6DB;
    border-radius: 10px;
}

.backstage img{
    display: flex;
    width: 500px;
    margin-bottom: 22px;
}


