@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Karantina:wght@300;400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #F2A6DB;
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px 50px;
}

#logo{
    font-family: "Karantina", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: white;
    padding: 5px 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
}

li a{
    display: block !important;
    margin-right: 4px;
    text-decoration: none;
    color: white;
    font-family: "Karantina", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    padding: 8px 30px;
}

#account a{
    display: block !important;
    border: 2px solid white !important;
    /* box-shadow: 0 0 8px black; */
    -webkit-box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 0px -1px rgba(0, 0, 0, 0.25);
}

main{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 80px 150px 0;
}

section{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section h1{
    font-family: "Karantina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 115px;
    color: white;
    letter-spacing: 6px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}

section p{
    font-family: "Karantina", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    color: white;
    letter-spacing: 3px;
}

section button{
    font-family: "Karantina", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #F2A6DB;
    letter-spacing: 2px;
    background-color: #ffffff; 
    border:1px solid #ffffff;
    padding:15px 25px;
    border-radius: 15px;
    text-transform: uppercase;
}
